.info-primary{
    background-color: #1CC7C1 ;
    color: white;
}
.info-dark{
    background-color: #3A4256;
    color: white;
}
.info-icon{
    font-size: 3em;
    margin-right: 5px;
}
.info-container{
    height: 100px;
    padding: 30px;
    border-radius: 50px;
}
.info-cart{
    padding: 0 5px;
}